@charset "UTF-8";
/* pdsition
기능:요소를 좌표로 위치시키는 속성
속성값:position:static, relative, absolute fixd, sticky
    좌표값 top,right,bottom,left
    우선순위 z-index (position  필수 (단,  static 에서는 적용X)
 */

.child:nth-child(1) {
    position:static;
/*     static: 표지셔닝 하기전 기본값 */
 position:relative;
    top:50px;
    left:50px;

    z-index: 0;   
}
.child:nth-child(2) {
    position: relative;
    top: -100px;
    z-index: 2;  /* 겹침 순서  */
}
.child:nth-child(3) {
    position: relative;
    top: -150px;
    z-index: 6; 
}