@charset "UTF-8";
@import url(./fonts.css);
p{margin: 10px 110px;
border: 1px solid crimson;
padding: 10px;}

.txt1{
    text-align: left;
}
.text2{text-align: right;
}
.text3{text-align: center;}
.text4{text-align: justify;}